[Interface]
{% if grains['role'] == 'app' %}
Address = 10.30.0.1/24
PrivateKey = {{ pillar['wg_app_private'] }}
{% else %}
Address = 10.30.0.2/24
PrivateKey = {{ pillar['wg_edge_private'] }}
{% endif %}
ListenPort = 51820

[Peer]
{% if grains['role'] == 'app' %}
PublicKey = {{ pillar['wg']['edge_pubkey'] }}
Endpoint = {{ pillar['wg']['edge_endpoint'] }}
{% else %}
PublicKey = {{ pillar['wg']['app_pubkey'] }}
Endpoint = {{ pillar['wg']['app_endpoint'] }}
{% endif %}
AllowedIPs = 10.30.0.0/24
PersistentKeepalive = 25